# OS X Finder
.DS_Store
UserInterfaceState.xcuserstate

# Exclude personal Xcode user settings
# Xcode per-user config
*.mode1
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspective
*.perspectivev3
!default.perspectivev3
*.pbxuser
!default.pbxuser
xcuserdata
*.xccheckout
*.xcsettings
*.moved-aside

# Xcode
build/
DerivedData
profile
*.hmap
*.ipa

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# Bundler
.bundle

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
Pods/
fastlane/test_output/
fastlane/report.xml

